html {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

#title-image {
    border-radius: 100%;
    box-shadow: 0 1px 10px 5px rgb(250 200 200);
}

.column .columns {
    margin-bottom: 8em;
}

.is-128x128 {
    border-radius: 6px;
    box-shadow: 0 1px 10px 5px rgb(250 200 200);
}
